<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info statistics" role="alert">
      <strong>Statistics:</strong>
      Normo pages <span class="badge">{{article.normoPagesCount()}}</span>
      Sentences <span class="badge">{{article.sentenceCount()}}</span>
      Words <span class="badge">{{article.wordsCount()}}</span>
    </div>
  </div>
</div>

<div id="articleContent" class="xml content" (mouseup)="showNegationPanel($event)"
     [innerHTML]="article.currentContent"></div>

<div *ngIf="isSelectedText()" class="negation-panel" [ngStyle]="{'left': negPanelX, 'top': negPanelY}">
  <button (click)="addNegation()" class="btn btn-success" title="Mark negation">
    <i class="fa fa-plus" aria-hidden="true"></i> Negation
  </button>
  <button (click)="addNegationSource()" class="btn btn-info" title="Mark source of negation">
    <i class="fa fa-plus" aria-hidden="true"></i> Signal
  </button>
  <button (click)="replaceTargetWithText()" *ngIf="isNegationOrNegSource()" class="btn btn-danger"
          title="Remove marked negation OR source">
    <i class="fa fa-trash" aria-hidden="true"></i> Remove
  </button>
</div>
