.content {
  z-index: 0;
}

.negation-panel {
  position: fixed;
  z-index: 1;
}

/* XML */
div.xml {
  line-height: 1.8;
}
negation {
  display: inline;
  background: rgb(201,255,11);
  padding: 5px;
  border-radius: 5px;
}

neg-source {
  display: inline;
  border-bottom: 3px solid red;
}